go 1.26.3

use (
	.
	./pkg/crdt
)

use (
	../go-branded-id
	../go-cqrs-lite/core
	../go-cqrs-lite/memory
	../go-cqrs-lite/middleware
	../go-cqrs-lite/projection
	../go-cqrs-lite/storage
	../go-error-family
)
